# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# editor settings
/modules.xml
/vcs.xml
/wgt.iml

# Node / React
frontend/node_modules
frontend/.next
frontend/dist

# Python / FastAPI
backend/__pycache__/
backend/*.pyc
backend/.venv
backend/env
backend/.env

# General
*.log
.env
.DS_Store
